<div align="center">
</div>
<table width="98%" border="0" cellspacing="0" cellpadding="0" align="center">
    <tr>
        <td>
            <p align="left">
                <br>
                <font size="2" color="#213e9b">
                    <strong>系统管理界面</strong>
                </font>
                &nbsp;&nbsp;
            </p>
            <hr class="line" color=#a9a9a9 size=1>
        </td>
    </tr>
</table>

<div id="manageBoard"></div>

<br>
<table width="98%" border="0" cellspacing="0" cellpadding="0" align="center">
    <tr>
        <td>
            <font size="2" color="#666600"> <input type="button" value="付款方式" name="B223333" style="background-color: #E1E1E1; font-family: 宋体; font-size: 9pt; border: 1 groove #C3D9FF" onClick="window.open('zdy/gather/hlxx.jsp','gnw', 'height=300, width=560, top=100, left=100, toolbar=yes, menubar=no, scrollbars=yes, resizable=yes,location=no, status=no')">
            </font>
        </td>
        <td>
            <font size="2" color="#666600">
                <INPUT TYPE="button" VALUE="财务科目设置" NAME="B22333333" STYLE="background-color: #E1E1E1; font-family: 宋体; font-size: 9pt; border: 1 groove #C3D9FF" ONCLICK="window.open('zdy/km/credit.jsp','gnw', 'height=300, width=560, top=100, left=100, toolbar=yes, menubar=no, scrollbars=yes, resizable=yes,location=no, status=no')">
            </font>
        </td>
        <td>
            <font size="2" color="#666600">
                <INPUT TYPE="button" VALUE="费用科目设置" NAME="B223333332" STYLE="background-color: #E1E1E1; font-family: 宋体; font-size: 9pt; border: 1 groove #C3D9FF" ONCLICK="window.open('zdy/fkm/credit.jsp','gnw', 'height=300, width=560, top=100, left=100, toolbar=yes, menubar=no, scrollbars=yes, resizable=yes,location=no, status=no')">
            </font>
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>
            <button class="manageButton" ONCLICK="window.open('/admin/index.mvc#contact_template')">合同模板设置</button>
        </td>
        <TD>
            <FONT SIZE="2" COLOR="#666600"> <input type="button" value="工资模版自定义" name="B2233332323" style="background-color: #E1E1E1; font-family: 宋体; font-size: 9pt; border: 1 groove #C3D9FF" onClick="window.open('zdy/wage/wagem.jsp','adminw', 'height=500, width=650, top=100, left=100, toolbar=yes, menubar=no, scrollbars=yes, resizable=yes,location=no, status=no')">
            </font>
        </td>
        <TD>
            <font size="2" color="#666600"> <input type="button" value="考勤设置" name="B22333323232" style="background-color: #E1E1E1; font-family: 宋体; font-size: 9pt; border: 1 groove #C3D9FF" onClick="window.open('../checkwork/checktime/checktime_main.jsp','adminw', 'height=500, width=650, top=100, left=100, toolbar=yes, menubar=no, scrollbars=yes, resizable=yes,location=no, status=no')">
            </font>
        </td>
        <td>
            <FONT SIZE="2" COLOR="#666600"> <input type="button" value="考勤范围" name="B22333323233" style="background-color: #E1E1E1; font-family: 宋体; font-size: 9pt; border: 1 groove #C3D9FF" onClick="window.open('../checkwork/checkman/checkman_main.jsp','adminw', 'height=500, width=650, top=100, left=100, toolbar=yes, menubar=no, scrollbars=yes, resizable=yes,location=no, status=no')">
            </font>
        </td>
        <td>
            <font size="2" color="#666600"> <input type="button" value="采购付款方式" name="B223333" style="background-color: #E1E1E1; font-family: 宋体; font-size: 9pt; border: 1 groove #C3D9FF" onClick="window.open('zdy/payment_cg/hlxx.jsp','gnw', 'height=300, width=560, top=100, left=100, toolbar=yes, menubar=no, scrollbars=yes, resizable=yes,location=no, status=no')">
            </font>
        </td>
    </tr>
    <tr>
        <td colspan="5">
            <BR>
            <hr style="BORDER-BOTTOM-STYLE: dotted; BORDER-LEFT-STYLE: dotted; BORDER-RIGHT-STYLE: dotted; BORDER-TOP-STYLE: dotted" color=#a9a9a9 size=1>
            <BR>
        </td>
    </tr>
    <tr>
        <td>
            <button class="manageButton" ONCLICK="window.open('/admin/index.mvc#flow_purchasing')">采购审批流程</button>
        </td>
        <td>
            <font size="2" color="#666600"> <input type="button" value="样品审批流程" name="B223333242" style="background-color: #E1E1E1; font-family: 宋体; font-size: 9pt; border: 1 groove #C3D9FF" onClick="window.open('zdy/ypsp/hlxx.jsp','adminw', 'height=500, width=650, top=100, left=50, toolbar=yes, menubar=no, scrollbars=yes, resizable=yes,location=no, status=no')">
            </font>
        </td>
        <td>
            <font size="2" color="#666600"> <input type="button" value="合同审批流程" name="B2233332" style="background-color: #E1E1E1; font-family: 宋体; font-size: 9pt; border: 1 groove #C3D9FF" onClick="window.open('zdy/ddsp/hlxx.jsp','adminw', 'height=500, width=650, top=100, left=100, toolbar=yes, menubar=no, scrollbars=yes, resizable=yes,location=no, status=no')">
            </font>
        </td>
        <td>
            <font size="2" color="#666600"> <input type="button" value="往来帐目审批流程" name="B223333225" style="background-color: #E1E1E1; font-family: 宋体; font-size: 9pt; border: 1 groove #C3D9FF" onClick="window.open('zdy/swoutsp/hlxx.jsp','_balnk', 'height=450, width=920, top=100, left=20, toolbar=yes, menubar=no, scrollbars=yes, resizable=yes,location=no, status=no')">
            </font>
        </td>
        <td>
            <font size="2" color="#666600"><b><font size="2"
						color="#666600"> <input type="button" value="公告审批流程"
							class="manageButton"
							onClick="window.open('notice/auditFlow.mvc','adminw')">
					</font><font color="#000080"> </font></b></font>
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td> <input type="button" value="退货审批流程" name="B22333324" class="manageButton" onClick="window.open('process/th/hlxx.jsp')">
        </td>
        <td>
            <font size="2" color="#666600"> <input type="button" value="费用审批流程" name="B22333322" style="background-color: #E1E1E1; font-family: 宋体; font-size: 9pt; border: 1 groove #C3D9FF" onClick="window.open('zdy/fysp/hlxx.jsp','adminw', 'height=450, width=920, top=100, left=20, toolbar=yes, menubar=no, scrollbars=yes, resizable=yes,location=no, status=no')">
            </font>
        </td>
        <td>
            <font size="2" color="#666600"> <b><font
						color="#000080"> <input type="button" value="借款审批流程"
							name="B223333222"
							style="background-color: #E1E1E1; font-family: 宋体; font-size: 9pt; border: 1 groove #C3D9FF"
							onClick="window.open('zdy/jksp/hlxx.jsp','adminw', 'height=450, width=920, top=100, left=20, toolbar=yes, menubar=no, scrollbars=yes, resizable=yes,location=no, status=no')">
					</font></b></font>
        </td>
        <td><b><font size="2" color="#666600"> </font><font size="2"
					color="#666600"> <input type="button" value="付款审批流程"
						name="B223333223"
						style="background-color: #E1E1E1; font-family: 宋体; font-size: 9pt; border: 1 groove #C3D9FF"
						onClick="window.open('zdy/paysp/hlxx.jsp','adminw', 'height=450, width=920, top=100, left=20, toolbar=yes, menubar=no, scrollbars=yes, resizable=yes,location=no, status=no')">
				</font><font color="#000080"> </font></b></td>
        <td>
            <font size="2" color="#666600"><b><font size="2"
						color="#666600"> <input type="button" value="签呈审批流程"
							name="B2233332322"
							style="background-color: #E1E1E1; font-family: 宋体; font-size: 9pt; border: 1 groove #C3D9FF"
							onClick="window.open('zdy/qcsp/hlxx.jsp','adminw', 'height=500, width=650, top=100, left=100, toolbar=yes, menubar=no, scrollbars=yes, resizable=yes,location=no, status=no')">
					</font></b> </font>
        </td>
    </tr>
    <tr>
        <td><b><font color="#000080"> </font></b></td>
        <td>
            <font size="2" color="#666600">&nbsp; </font>
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>
            <font size="2" color="#666600"> <input type="button" value="办公用品审批" name="B22333322422222" style="background-color: #E1E1E1; font-family: 宋体; font-size: 9pt; border: 1 groove #C3D9FF" onClick="window.open('zdy/cg_osp/hlxx.jsp','_blank', 'height=450, width=920, top=100, left=20, toolbar=yes, menubar=no, scrollbars=yes, resizable=yes,location=no, status=no')">
            </font>
        </td>
        <td>
            <font size="2" color="#666600"> <input type="button" value="转正审批流程" name="B2233332242" style="background-color: #E1E1E1; font-family: 宋体; font-size: 9pt; border: 1 groove #C3D9FF" onClick="window.open('zdy/zzsp/hlxx.jsp','adminw', 'height=450, width=920, top=100, left=20, toolbar=yes, menubar=no, scrollbars=yes, resizable=yes,location=no, status=no')">
            </font>
        </td>
        <td>
            <font size="2" color="#666600"> <input type="button" value="奖惩审批流程" style="background-color: #E1E1E1; font-family: 宋体; font-size: 9pt; border: 1 groove #C3D9FF" onClick="window.open('zdy/jcsp/hlxx.jsp','adminw', 'height=450, width=920, top=100, left=20, toolbar=yes, menubar=no, scrollbars=yes, resizable=yes,location=no, status=no')">
            </font>
        </td>
        <td>
            <font size="2" color="#666600"> <input type="button" value="出差审批流程" name="B22333322422" style="background-color: #E1E1E1; font-family: 宋体; font-size: 9pt; border: 1 groove #C3D9FF" onClick="window.open('zdy/ccsp/hlxx.jsp','adminw', 'height=450, width=920, top=100, left=20, toolbar=yes, menubar=no, scrollbars=yes, resizable=yes,location=no, status=no')">
            </font>
        </td>
        <td>
            <font size="2" color="#666600"> <input type="button" value="薪资审批流程" name="B223333224222" style="background-color: #E1E1E1; font-family: 宋体; font-size: 9pt; border: 1 groove #C3D9FF" onClick="window.open('zdy/xzsp/hlxx.jsp','adminw', 'height=450, width=920, top=100, left=20, toolbar=yes, menubar=no, scrollbars=yes, resizable=yes,location=no, status=no')">
            </font>
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>
            <font size="2" color="#666600"><b><font
						color="#000080"> <input type="button" value="调货审批流程"
							class="manageButton"
							onClick="window.open('zdy/dhsp/hlxx.jsp','adminw', 'height=500, width=955, top=50, left=50, toolbar=yes, menubar=no, scrollbars=yes, resizable=yes,location=no, status=no')">
					</font></b></font>
        </td>
        <td>
            <font size="2" color="#666600"><b><font
						color="#000080"> <input type="button" value="采购退货审批流程"
							class="manageButton"
							onClick="window.open('zdy/thsp_cg/hlxx.jsp','adminw', 'height=500, width=955, top=50, left=50, toolbar=yes, menubar=no, scrollbars=yes, resizable=yes,location=no, status=no')">
					</font></b></font>
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td colspan="5">
            <BR>
            <hr style="BORDER-BOTTOM-STYLE: dotted; BORDER-LEFT-STYLE: dotted; BORDER-RIGHT-STYLE: dotted; BORDER-TOP-STYLE: dotted" color=#a9a9a9 size=1>
            <BR>
        </td>
    </tr>
    <tr>
        <td>
            <font size="2" color="#666600"> <input type="button" value="公司公告管理" class="manageButton" onClick="window.open('notice/notice.dispatch?method=list','nww', 'height=500, width=955, top=100, left=100, toolbar=yes, menubar=no, scrollbars=yes, resizable=yes,location=yes, status=no')">
            </font>
        </td>
        <td width="14%">
            <font size="2" color="#666600"> <input type="button" value="被系统锁定用户" class="manageButton" onClick="window.open('username.jsp','adminwd', 'height=360, width=660, top=200, left=50, toolbar=yes, menubar=no, scrollbars=yes, resizable=yes,location=yes, status=no')">
            </font>
        </td>
        <td>
            <font size="2" color="#666600"> <input type="button" value="修改系统密码" class="manageButton" onClick="window.open('manageschange.jsp','adminwd', 'height=250, width=600, top=200, left=100, toolbar=yes, menubar=no, scrollbars=yes, resizable=yes,location=no, status=no')">
            </font>
        </td>
        <td>
            <font size="2" color="#666600"> <input type="button" value="内部邮件管理" class="manageButton" onClick="window.open('../webmail/minfomail.jsp','mail', 'height=500, width=750, top=100, left=50, toolbar=yes, menubar=no, scrollbars=yes, resizable=yes,location=no, status=no')">
            </font>
        </td>
        <td>
            <font size="2" color="#666600"> <input type="button" value="用户谈话历史" class="manageButton" onClick="window.open('../ally_talk.jsp','_blank', 'height=500, width=750, top=100, left=50, toolbar=yes, menubar=no, scrollbars=yes, resizable=yes,location=no, status=no')">
            </font>
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>
            <font size="2" color="#666600"> <input type="button" value="用户登陆日志" class="manageButton" onClick="window.open('log.jsp','aqt', 'height=500, width=750, top=100, left=50, toolbar=yes, menubar=no, scrollbars=yes, resizable=yes,location=yes, status=no')">
            </font>
        </td>
        <td width="14%">
            <font size="2" color="#666600"> <input type="button" value="在线用户信息" class="manageButton" onClick="window.open('onlineuser.jsp','qt', 'height=500, width=750, top=100, left=50, toolbar=yes, menubar=no, scrollbars=yes, resizable=yes,location=no, status=no')">
            </font>
        </td>
        <td width="14%">
            <font size="2" color="#666600"> <input type="button" value="客户信息" class="manageButton" onClick="window.open('../xclient/clist.jsp','_blank', 'height=500, width=750, top=100, left=50, toolbar=yes, menubar=yes, scrollbars=yes, resizable=yes,location=no, status=no')">
            </font>
        </td>
        <td width="14%">
            <font size="2" color="#666600"> <input type="button" value="历史数据处理" class="manageButton" onClick="window.open('../sale/ddgl/wally.jsp','_blank', 'height=500, width=750, top=100, left=50, toolbar=yes, menubar=yes, scrollbars=yes, resizable=yes,location=no, status=no')">
            </font>
        </td>
        <td width="14%">
            <font size="2" color="#666600"> <input type="button" value="短信帐号" class="manageButton" onClick="window.open('smanageschange.jsp','_blank', 'height=500, width=750, top=100, left=50, toolbar=yes, menubar=yes, scrollbars=yes, resizable=yes,location=no, status=no')">
            </font>
        </td>
    </tr>
    <tr>
        <TD WIDTH="14%">&nbsp;</TD>
        <TD WIDTH="14%">&nbsp;</TD>
        <TD>&nbsp;</TD>
        <TD>&nbsp;</TD>
        <TD>&nbsp;</TD>
    </tr>

    <tr>
        <td colspan="5">
            <BR>
            <hr style="BORDER-BOTTOM-STYLE: dotted; BORDER-LEFT-STYLE: dotted; BORDER-RIGHT-STYLE: dotted; BORDER-TOP-STYLE: dotted" color=#a9a9a9 size=1>
        </td>
    </tr>
</table>
<p align="left">
    <font size="2" color="#666600"> </font>
</p>