<jxiaui-dialog @close="hide" v-if="showFlag" :title="title">
    <table class="table table-bordered">
        <tr>
            <th>原密码：</th>
            <td><input v-model="passwordOld"></td>
        </tr>
        <tr>
            <th>新密码：</th>
            <td><input v-model="newPassword"></td>
        </tr>
        <tr>
            <th>重复输入新密码：</th>
            <td><input v-model="newPasswordRepeat"></td>
        </tr>
    </table>
    <div>
        <button @click="sub">确认</button>
    </div>
</jxiaui-dialog>