<div style="display: flex;flex-direction: column;height:100%;" id="app">
    <div style="height: calc(100vh - 146px);">
        <span class="fa fa-spinner fa-spin" v-if="loading"></span>
        <jxiaui-datagrid ref="datagrid" :dataset="dataset" :check="true">
            <jxiaui-datagrid-item label="#" type="index"></jxiaui-datagrid-item>
            <jxiaui-datagrid-item label="收件人">
                <template v-slot="row">
					<a :href="getUrl(row)" target="_blank">{{row.mail_to}}</a>
				</template>
            </jxiaui-datagrid-item>
            <jxiaui-datagrid-item label="主　　　题">
                <template v-slot="row">
					<a :href="getUrl(row)" target="_blank">{{row.mail_sub}}</a>
				</template>
            </jxiaui-datagrid-item>
            <jxiaui-datagrid-item label="发件日期" field="mail_datetime"></jxiaui-datagrid-item>
        </jxiaui-datagrid>
    </div>
</div>