<jxiaui-dialog @close="hide" v-if="showFlag" :width="1000">
    <div>
        <jxiaui-datagrid class="table" ref="datagrid" :dataset="dataset">
            <jxiaui-datagrid-item label="序号" type="index"></jxiaui-datagrid-item>
            <jxiaui-datagrid-item label="联系人" field="name"></jxiaui-datagrid-item>
            <jxiaui-datagrid-item label="先生/小姐" field="mr"></jxiaui-datagrid-item>
            <jxiaui-datagrid-item label="职位" field="job">
            </jxiaui-datagrid-item>
            <jxiaui-datagrid-item label="办公室电话" field="tel">
            </jxiaui-datagrid-item>
            <jxiaui-datagrid-item label="手机" field="waptel">
            </jxiaui-datagrid-item>
            <jxiaui-datagrid-item label="选择">
                <template v-slot="row">
                    <button @click="choose(row)">选择</button>
                </template>
            </jxiaui-datagrid-item>
        </jxiaui-datagrid>
    </div>

</jxiaui-dialog>