<jxiaui-dialog @close="hide" v-if="showFlag">
    <div style="padding: 10px;">
        <table height=8 width="100%" bordercolor="#CCBE5A" cellspacing="0" bordercolordark="#ffffff" cellpadding="3" align="center" bgcolor="#ffffff" bordercolorlight="#7f9db9" border="1">

            <tr bgcolor="#d3d8eb" height="5">
                <td width="17%" bgcolor="#d3d8eb">
                    <strong style="color:#213e9b">收款信息 </strong>
                </td>
                <td colspan="3" bgcolor="#d3d8eb" align="right">
                    <jxiaui-button @click="editInvoiceBtn">
                        填写发票
                    </jxiaui-button>
                    <jxiaui-button @click="gather">
                        收款
                    </jxiaui-button>
                </td>
            </tr>

            <tr>
                <td bgcolor="#e8ebf5">
                    合同编号</td>
                <td>{{orderform}}</td>
                <td bgcolor="#e8ebf5">
                    票据号</td>
                <td>
                    <input v-model="form.remark">
                </td>
            </tr>
            <tr>
                <td bgcolor="#e8ebf5">
                    合同金额</td>
                <td>
                    {{total }}</td>
                <td bgcolor="#e8ebf5">
                    运费金额</td>
                <td>
                    {{bank }}</td>
            </tr>
            <tr>
                <td bgcolor="#e8ebf5">
                    实收金额</td>
                <td>
                    {{smoney }}
                </td>
                <td>收款金额</td>
                <td><input v-model="form.toGather"></td>
            </tr>
            <tr>
                <td bgcolor="#e8ebf5">
                    科目
                </td>
                <td>
                    <select v-model="form.subject">
                        <option v-for="s in subjectList">{{s.name}}</option>
                    </select>
                </td>
                <td bgcolor="#e8ebf5">
                    客户名称</td>
                <td> <a href="#" @click="openCoView()">{{coname }}</a></td>
            </tr>
            <tr>
                <td width="17%" bgcolor="#e8ebf5">
                    <FONT SIZE="2">目标起运日</font>&nbsp;</td>
                <td width="27%">
                    <FONT SIZE="2" COLOR="#000000">{{yjskdate }}</font>&nbsp;</td>
                <td width="17%" bgcolor="#e8ebf5">
                    <FONT SIZE="2">实际起运日</font>&nbsp;</td>
                <td width="40%">
                    <FONT SIZE="2" COLOR="#000000">{{sjdate }}</font>&nbsp;</td>
            </tr>
            <tr>
                <td width="17%" bgcolor="#e8ebf5">
                    <FONT SIZE="2">预计收款日期</font>&nbsp;</td>
                <td width="27%">
                    <FONT SIZE="2" COLOR="#000000">{{sjskdate }}</font>&nbsp;</td>
                <td width="17%" height="15" bgcolor="#e8ebf5">
                    <FONT SIZE="2">付款方式</font>&nbsp;</td>
                <td width="40%" height="15">
                    <FONT SIZE="2" COLOR="#000000">{{mode}}</font>&nbsp;</td>
            </tr>
            <tr>
                <td width="16%" bgcolor="#e8ebf5">
                    <font size="2">币　　值</font>&nbsp;</td>
                <td width="29%">
                    <font size="2" color="#000000"></font>&nbsp;</td>
                <td bgcolor="#e8ebf5">是否已开票</td>
                <td>{{bankaccounts }}</td>
            </tr>
            <tr>
                <td bgcolor="#e8ebf5">
                    <font size="2">发　　票</font>&nbsp;</td>
                <td>
                    <font size="2" color="#000000" face="Arial, Helvetica, sans-serif">{{rate }}</font>&nbsp;</td>
                <td bgcolor="#e8ebf5">
                    <font size="2">开票金额</font>&nbsp;</td>
                <td>
                    <font size="2" color="#000000" face="Arial, Helvetica, sans-serif">{{i_man }}</font>&nbsp;</td>
            </tr>
            <tr>
                <td bgcolor="#e8ebf5">开票日期&nbsp;</td>
                <td>{{sendcompany}}&nbsp;</td>
                <td bgcolor="#e8ebf5">
                    <font size="2">票据号</font>&nbsp;</td>
                <td>
                    <font size="2" color="#000000" face="Arial, Helvetica, sans-serif">{{remark}}</font>&nbsp;</td>
            </tr>
            <tr>
                <td bgcolor="#e8ebf5">
                    <font size="2">销 售 员</font>&nbsp;</td>
                <td>{{saleinfo.man}}</td>
                <td bgcolor="#e8ebf5">
                    <font size="2">所在部门</font>&nbsp;</td>
                <td>
                    <font size="2" color="#000000">{{sale_dept}}</font>&nbsp;</td>
            </tr>

            <tr>
                <td bgcolor="#e8ebf5">
                    <font size="2">收款情况</font>&nbsp;</td>


                <td colspan="3"><span id="noteShow">{{note}}</span>&nbsp;

                    <div v-if="showNoteFlag">
                        <select v-model="noteValue">
                        <option value=""></option>
                        <option value="已收款">已收款</option>
                        <option value="未收款">未收款</option>
                        <option value="收款中">收款中</option>
                            <option value="部分收款">部分收款</option>
                        </select>
                        <button @click="noteIt">确定</button><button @click="cancelNote">取消</button>

                    </div>
                    <input v-if="!showNoteFlag" id="noteItBut" type="button" value="评论" @click="toNoteIt">



                </td>
            </tr>
        </table>
        <br>
        <table height=8 width="100%" bordercolor="#CCBE5A" cellspacing="0" bordercolordark="#ffffff" cellpadding="3" align="center" bgcolor="#ffffff" bordercolorlight="#7f9db9" border="1">
            <tr bgcolor="#d3d8eb">
                <td width="227">
                    <div align="left">
                        产品型号&nbsp;</div>
                </td>
                <td width="436">
                    <div align="left">
                        <font size="2">产品批号&nbsp;</font>
                    </div>
                </td>
                <td width="119">
                    <div align="right">
                        <font size="2">订单数量&nbsp;</font>
                    </div>
                </td>
                <td width="119">
                    <div align="right">
                        <font size="2">出货数量&nbsp;</font>
                    </div>
                </td>
                <td width="110">
                    <div align="right">
                        <font size="2">单价&nbsp;</font>
                    </div>
                </td>
                <td width="111">
                    <div align="right">
                        <font size="2">订单合计&nbsp;</font>
                    </div>
                </td>
                <td width="111">
                    <div align="right">
                        <font size="2">出货合计&nbsp;</font>
                    </div>
                </td>
            </tr>

            <tr height="8" v-for="pro in saleinfo.proList">
                <td width="227" height="8">
                    <div align="left">{{pro.epro }} &nbsp;
                    </div>
                </td>
                <td width="436" height="8">
                    {{pro.cpro }}&nbsp;
                </td>
                <td width="119" height="8">
                    <div align="right">
                        <font size="2" color="#000000">
                            {{pro.num }}
                        </font>
                        <font size="2">&nbsp;</font>
                    </div>
                </td>
                <td width="119" height="8">
                    <div align="right">
                        <font size="2" color="#000000">
                            {{pro.s_num }} </font>
                        <font size="2">&nbsp;</font>
                    </div>
                </td>
                <td width="110" height="8">
                    <div align="right">
                        <font size="2" color="#000000">
                            {{pro.salejg }} {{pro.money }}

                        </font>&nbsp;</div>
                </td>
                <td width="111" height="8">
                    <div align="right">{{pro.num*pro.salejg }} &nbsp;
                    </div>
                </td>
                <td width="111" height="8">
                    <div align="right">{{pro.s_num*pro.salejg }}&nbsp;</div>
                </td>
            </tr>


            <tr>
                <td colspan="5">
                    <div align="right">合计金额：</div>
                </td>
                <td>
                    <div align="right">{{total }}</div>
                </td>
                <td>
                    <div align="right">{{total_out_house }}</div>
                </td>
            </tr>

            <tr>
                <td colspan="5">
                    <div align="right">欠款金额：
                    </div>
                </td>
                <td width="111">
                    <div align="right">
                        {{total_out_house-smoney}}
                    </div>
                </td>
                <td>

                </td>
            </tr>
        </table>
    </div>

</jxiaui-dialog>