<div style="padding: 10px;" id="app">
    <div style="margin-bottom: 10px;">
        <button @click="back">返回列表</button>
        <button @click="toAdd">新增</button>
    </div>
    <div style="height: calc(100vh - 146px);">
        <span class="fa fa-spinner fa-spin" v-if="loading"></span>
        <jxiaui-datagrid ref="datagrid" :dataset="dataset">
            <jxiaui-datagrid-item label="#" type="index"></jxiaui-datagrid-item>
            <jxiaui-datagrid-item label="类别" field="km_name"></jxiaui-datagrid-item>
            <jxiaui-datagrid-item label="主题">
                <template v-slot="row">
					<a :href="getUrl(row)">{{row.titel}}</a>
				</template>
            </jxiaui-datagrid-item>
            <jxiaui-datagrid-item label="创建日期" field="fvdate"></jxiaui-datagrid-item>
        </jxiaui-datagrid>
    </div>
</div>