<div id="app">
    <div class="jxiaui-table-form">
        <table>
            <colgroup>
                <col width="100">
                <col>
            </colgroup>
            <tr>
                <th>
                    <div>
                        知识库
                    </div>
                </th>
                <td>
                </td>
            </tr>
            <tr>
                <th>
                    知识库摘要:
                </th>
                <td colspan="2">
                    {{form.titel}}
                </td>
            </tr>
            <tr>
                <th>
                    知识库类型:
                </th>
                <td colspan="2">{{form.km_name }}
                </td>
            </tr>
            <tr>
                <th>
                    内 容:
                </th>
                <td colspan="2">
                    {{form.content}}
                </td>
            </tr>
            <tr>
                <th>相关连接:</th>
                <td colspan="2">
                    {{form.km_fa}}
                </td>
            </tr>
            <tr>
                <td colspan="3"><span>创建人:{{form.username }}</span> 创建时间:{{form.fvdate }}</td>
            </tr>
        </table>
        <div>
            <div>
                附件上传: <input type="file" ref="attachment" @change="uploadAttachment">
            </div>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>操　作</th>
                        <th>文 件 名</th>
                        <th>下载连接</th>
                        <th>日期</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(f,index) in form.attachList">
                        <td><button @click="del(f.id)">删除</button></td>
                        <td>{{f.name}}</a>
                        </td>
                        <td><button @click='downloadFile(f.id)'>文件下载</button></td>
                        <td>{{f.create_time}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>


<div class="modal fade" tabindex="-1" role="dialog" id="uploadModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="knowledge!uploadAttachment.do">
                <input type="hidden" name="knowledgeId" value="${id}">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">附件上传</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">文件名称</label>
                            <div class="col-sm-10">
                                <input name="name" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">请选择附件</label>
                            <div class="col-sm-10">
                                <input name="attachment" type="file" class="form-control">
                            </div>

                        </div>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" @click="uploadAttachment">上传</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->