<div id="app">
    <div>
        客户订单
    </div>
    <div>
        <button @click="back">返回</button>
    </div>
    <div>
        <jxiaui-datagrid ref="datagrid" :dataset="dataset">
            <jxiaui-datagrid-item label="序号" type="index"></jxiaui-datagrid-item>
            <jxiaui-datagrid-item label="合同编号">
                <template v-slot="row">
                        <a :href="getUrl(row)" target="_blank">{{row.number}}</a>
                    </template>
            </jxiaui-datagrid-item>
            <jxiaui-datagrid-item label="客户名称">
                <template v-slot="row">
                        <a :href="getUrl(row)" target="_blank">{{row.coname}}</a>
                    </template>
            </jxiaui-datagrid-item>
            <jxiaui-datagrid-item label="付款方式" field="mode">
            </jxiaui-datagrid-item>
            <jxiaui-datagrid-item label="责任人" field="man">
            </jxiaui-datagrid-item>
            <jxiaui-datagrid-item label="返回原因" field="pstates">
            </jxiaui-datagrid-item>
            <jxiaui-datagrid-item label="审批状态" field="state">
            </jxiaui-datagrid-item>
        </jxiaui-datagrid>
    </div>
</div>