<div id="app">
    <div>
        型号：<input v-model="form.epro"> 客户名称: <input v-model="form.coname"> 合同编号：
        <input v-model="form.number"> 客户订单号: <input v-model="form.sub"> 销售员:
        <saleman-select v-model="form.man"></saleman-select>
        <button @click="query">查询</button>
    </div>
    <div>
        <jxiaui-datagrid class="table" ref="datagrid" :dataset="dataset">
            <jxiaui-datagrid-item label="序号" type="index"></jxiaui-datagrid-item>
            <jxiaui-datagrid-item label="合同编号">
                <template v-slot="row">
					<a :href="getUrl(row)" target="_blank">{{row.number}}</a>
				</template>
            </jxiaui-datagrid-item>
            <jxiaui-datagrid-item label="客户名称">
                <template v-slot="row">
					<a :href="getUrl(row)" target="_blank">{{row.coname}}</a>
				</template>
            </jxiaui-datagrid-item>
            <jxiaui-datagrid-item label="产品型号" field="epro">
            </jxiaui-datagrid-item>
            <jxiaui-datagrid-item label="销售价" field="salejg">
            </jxiaui-datagrid-item>
            <jxiaui-datagrid-item label="数量" field="num">
            </jxiaui-datagrid-item>
            <jxiaui-datagrid-item label="付款方式" field="mode">
            </jxiaui-datagrid-item>
            <jxiaui-datagrid-item label="责任人" field="man">
            </jxiaui-datagrid-item>
            <jxiaui-datagrid-item label="审批人" field="spman">
            </jxiaui-datagrid-item>
            <jxiaui-datagrid-item label="复审人" field="swman">
            </jxiaui-datagrid-item>
            <jxiaui-datagrid-item label="审批状态" field="state">
            </jxiaui-datagrid-item>
        </jxiaui-datagrid>
    </div>
</div>