<div id="app">
    <div>
        <button @click="toEdit">编辑样品</button>
        <button @click="toAdd">新增产品</button>
        <button @click="sub">提交审批</button>
        <button @click="back">返回</button>
    </div>
    <div class="jxiaui-table-form">
        <table style="width: 100%">
            <tr>
                <th>样品编号</th>
                <td>{{form.number}}</td>
                <th>负 责 人</th>
                <td>{{form.man}}</td>
            </tr>
            <tr>
                <th>客户名称</th>
                <td>
                    {{form.coname}}
                </td>
                <th>客户编号</th>
                <td>
                    {{form.senddate}}
                </td>
            </tr>
            <tr>
                <th>收货地址</th>
                <td colspan="3">
                    {{form.airport}}
                </td>
            </tr>
            <tr>
                <th>联 系 人</th>
                <td>
                    {{form.linkman}}
                </td>
                <th>联系电话</th>
                <td>
                    {{form.yj}}
                </td>
            </tr>
            <tr>
                <th>运输方式</th>
                <td>
                    {{form.delivery_terms}}
                </td>
                <th>发货日期</th>
                <td>
                    {{form.delivery_date}}
                </td>
            </tr>
            <tr>
                <th>运　　费</th>
                <td>
                    {{form.fveight}}

                </td>
                <th>保　　险</th>
                <td>
                    {{form.insurance}}

                </td>
            </tr>
            <tr>
                <th>特别要求</th>
                <td colspan="3">
                    {{form.tbyq}}
                </td>
            </tr>
            <tr>
                <th>备　　注</th>
                <td colspan="3">
                    {{form.remarks}}
                </td>
            </tr>
        </table>
    </div>
    <div>
        <jxiaui-datagrid ref="datagrid" :dataset="dataset">
            <jxiaui-datagrid-item label="#" type="index"></jxiaui-datagrid-item>
            <jxiaui-datagrid-item label="产品型号" field="epro"></jxiaui-datagrid-item>
            <jxiaui-datagrid-item label="产品批号" field="cpro"></jxiaui-datagrid-item>
            <jxiaui-datagrid-item label="数量" field="num"></jxiaui-datagrid-item>
            <jxiaui-datagrid-item label="单价" field="salejg"></jxiaui-datagrid-item>
            <jxiaui-datagrid-item label="合计" field="datetime">
                <template v-slot="row">
                    {{getRowTotal(row)}}
                </template>
            </jxiaui-datagrid-item>
            <jxiaui-datagrid-item label="操作">
                <template v-slot="row">
                    <button @click="delRow(row)">删除</button>
                </template>
            </jxiaui-datagrid-item>
        </jxiaui-datagrid>
    </div>
    <div>
        总计: {{total}}
    </div>
    <div class="jxiaui-table-form">
        <table style="width: 100%">
            <tr>
                <th>审批情况:</th>
                <td>是否通过:{{form.state}}</td>
                <th>审批领导:</th>
                <td>{{form.spman}}</td>
            </tr>
            <tr>
                <th>审批意见:</th>
                <td>{{form.spyj}}</td>
                <th>是否复审:</th>
                <td>{{form.fif}}</td>
            </tr>
            <tr>
                <th>复 审 人:</th>
                <td>{{form.cwman}}</td>
                <th>复审日期:</th>
                <td>{{form.cwdate}}</td>
            </tr>
            <tr>
                <th>复审意见:</th>
                <td>{{form.cwyj}}</td>
            </tr>
        </table>
    </div>
</div>