<div>
    <div>
        入库编号： <input v-model="form.ddnum"> 采购编号：
        <input v-model="form.orderNumber"> 供 应 商：<input v-model="form.coname">型号：
        <input v-model="form.pro_model">
        <button @click="query">查询</button>
        <button @click="toAdd">新增</button>
    </div>
    <div>
        <jxiaui-datagrid class="table" ref="datagrid" :dataset="dataset">
            <jxiaui-datagrid-item label="序号" type="index"></jxiaui-datagrid-item>
            <jxiaui-datagrid-item label="合同编号">
                <template v-slot="row">
                    <a :href="getUrl(row)" target="_blank">{{row.pro_fynum}}</a>
                </template>
            </jxiaui-datagrid-item>

            <jxiaui-datagrid-item label="公司合同号" field="sub">
            </jxiaui-datagrid-item>
            <jxiaui-datagrid-item label="客户名称" field="pro_coname">
            </jxiaui-datagrid-item>
            <jxiaui-datagrid-item label="产品型号" field="pro_model">
            </jxiaui-datagrid-item>
            <jxiaui-datagrid-item label="税率" field="pro_rate">
            </jxiaui-datagrid-item>
            <jxiaui-datagrid-item label="单价" field="salejg">
            </jxiaui-datagrid-item>
            <jxiaui-datagrid-item label="数量" field="pro_num">
            </jxiaui-datagrid-item>
            <jxiaui-datagrid-item label="出库日期" field="pro_datetime">
            </jxiaui-datagrid-item>
            <jxiaui-datagrid-item label="出库人" field="slinkman">
            </jxiaui-datagrid-item>
            <jxiaui-datagrid-item label="销售员" field="man">
            </jxiaui-datagrid-item>
        </jxiaui-datagrid>
    </div>

</div>