<div>
    <div class="logo_and_nav">
        <logo-and-name></logo-and-name>
        <div class="right-top-nav">
            <ul>
                <li class="user-info-li">
                    <div>
                        <header-user-pic></header-user-pic>
                        <span>{{username }}</span>
                        <span class="message-num-circle">{{toDoCount}}</span>
                    </div>
                    <div class="drop-down-layer">
                        <header-my-todo></header-my-todo>
                    </div>
                </li>
                <li>
                    <a>个人设置</a><span class="glyphicon glyphicon-chevron-down"></span>
                    <div class="submenu" style="position: absolute; top: 14px; border: 1px solid #ccc; background: white;">
                        <div>
                            <a @click="passchange">更改口令</a>
                        </div>
                        <div>
                            <a href="workAgent.mvc">工作代理</a>
                        </div>
                        <div>
                            <a @click="openHelp">Office Online 帮助</a>
                        </div>
                        <div>
                            <a @click="openAboat">关于Office Online </a>
                        </div>
                    </div>
                </li>
                <li><a href="#knowledge/type">知识库</a></li>
                <li><a href="#rule">规章制度</a></li>
                <li><a @click="checkwork">打卡登记</a></li>
                <li><a @click="logout">退出</a></li>
            </ul>
            <div id="topMessage"></div>
        </div>
        <div class="current-online-info">
            {{timeStr}} 当前在线人数：{{loginList.length}} 在线人员列表：{{loginList.join(";")}}
        </div>
    </div>

    <div class="top_bottom_menu">
        <ul id="historyMenu">
            <li id="home"><span class="fa fa-home" @click="home"></span>
            </li>
            <li id="back"><span class="fa fa-arrow-left" @click="back"></span>

            </li>
            <li id="forward"><span class="fa fa-arrow-right" @click="back"></span>
            </li>
            <li>|</li>
        </ul>
        <ul id="menu1">
            <li v-for="m in menus" :class="{selected: m.selected}"><a :href="m.url">{{m.name}}</a></li>
        </ul>
    </div>
    <update-password-dialog ref="updatePasswordDialog"></update-password-dialog>
</div>