<jxiaui-dialog @close="hide" v-if="showFlag" :title="title">
    <div><button @click="send">发送</button></div>
    <table id="newMailTable" bordercolor="#CCBE5A" cellspacing="0" bordercolordark="#ffffff" cellpadding="3" align="center" bgcolor="#ffffff" bordercolorlight="#7f9db9" border="1">
        <tr>
            <td width="63" colspan="2" bgcolor="#e8ebf5">收件人</td>
            <td colspan="3"> <input v-model="form.mail_to" size="60" maxlength="100"></td>
        </tr>
        <tr>
            <td colspan="2" bgcolor="#e8ebf5">抄送人</td>
            <td colspan="3"> <input v-model="form.mail_to2" size="60" maxlength="100"></td>
        </tr>
        <tr>
            <td colspan="2" bgcolor="#e8ebf5">密送人&nbsp;</td>
            <td colspan="3"> <input v-model="form.mail_to3" size="60" maxlength="100"></td>
        </tr>
        <tr>
            <td bgcolor="#e8ebf5">主　　题&nbsp;</td>
            <td colspan="4">
                <input v-model="form.mail_sub" size="60">&nbsp;
            </td>
        </tr>
        <tr>
            <td height="233" colspan="5">
                <textarea v-model="form.mail_nr" cols="80" rows="15" id="mail_nr">
                    您好！ 

      致 礼！ 
      ${username} ${currentDate?string('yyyy-MM-dd')} </textarea> &nbsp;
            </td>
        </tr>
        <tr>
            <td height="24" colspan="2" bgcolor="#e8ebf5">
                <font size="2">发件人:</font>&nbsp;</td>
            <td width="298" height="24">
                <font size="2" color="#000080">

                    ${username}
                </font>&nbsp;</td>
            <td width="89" height="24" bgcolor="#e8ebf5">
                <font size="2">发件时间
                    <font color="#000000">:</font>
                </font>&nbsp;</td>
            <td width="126" height="24">
                ${currentDate?string('yyyy-MM-dd')}&nbsp;</td>
        </tr>
    </table>

</jxiaui-dialog>