<div id="container">
    <jxiaui-tabs>
        <jxiaui-tabs-item label="待入库采购订单">
            <warehouse-in-list-wait></warehouse-in-list-wait>
        </jxiaui-tabs-item>
        <jxiaui-tabs-item label="入库单管理" template="warehouse/in/template_list.mvc" onload="loadInManage">
            <warehouse-in-list></warehouse-in-list>
        </jxiaui-tabs-item>
        <jxiaui-tabs-item label="待入库供应商退货订单" template="warehouse/in/template_wait_refund.mvc" onload="loadPurchaseRefund">
            <warehouse-in-list-refund></warehouse-in-list-refund>
        </jxiaui-tabs-item>
        <jxiaui-tabs-item label="样品待入库" template="warehouse/in/template_wait_sample.mvc" onload="loadWaitSample">
            <warehouse-in-list-sample></warehouse-in-list-sample>
        </jxiaui-tabs-item>
    </jxiaui-tabs>
</div>