<div id="container">
    <jxiaui-tabs>
        <jxiaui-tabs-item label="待入库采购订单">
            <list-wait></list-wait>
        </jxiaui-tabs-item>
        <jxiaui-tabs-item label="入库单管理">
            <warehouse-in-list></warehouse-in-list>
        </jxiaui-tabs-item>
        <jxiaui-tabs-item label="待入库供应商退货订单">
            <warehouse-in-list-refund></warehouse-in-list-refund>
        </jxiaui-tabs-item>
        <jxiaui-tabs-item label="样品待入库">
            <list-sample></list-sample>
        </jxiaui-tabs-item>
    </jxiaui-tabs>
</div>