<div id="app">
    <div id="form">
        <label>合同编号</label><input v-model="form.number" size="10">
        <label>客户名称</label> <input v-model="form.coname" size="10">
        <label>客户订单号</label> <input v-model="form.sub" size="10">
        <label>产品型号</label> <input v-model="form.epro" size="10">
        <label>品 牌</label> <select v-model="form.pp"><option value="">请选择</option></select>
        <label>起始日期</label>
        <jxiaui-datepicker v-model="form.startdate"></jxiaui-datepicker>
        <label>终止日期</label>
        <jxiaui-datepicker v-model="form.enddate"></jxiaui-datepicker>
        <button @click="query">查询</button>
    </div>
    <div>
        <jxiaui-datagrid class="table" ref="datagrid" :dataset="dataset">
            <jxiaui-datagrid-item label="序号" type="index"></jxiaui-datagrid-item>
            <jxiaui-datagrid-item label="合同编号">
                <template v-slot="row">
				<a :href="getUrl(row)" target="_blank">{{row.number}}</a>
			</template>
            </jxiaui-datagrid-item>
            <jxiaui-datagrid-item label="公司合同号">
                <template v-slot="row">
					<a :href="getUrl(row)" target="_blank">{{row.custno}}</a>
				</template>
            </jxiaui-datagrid-item>
            <jxiaui-datagrid-item label="客户名称">
                <template v-slot="row">
				<a :href="getUrl(row)" target="_blank">{{row.coname}}</a>
			</template>
            </jxiaui-datagrid-item>
            <jxiaui-datagrid-item label="发货日期" field="sendDate">
            </jxiaui-datagrid-item>
            <jxiaui-datagrid-item label="责任人" field="man">
            </jxiaui-datagrid-item>
            <jxiaui-datagrid-item label="状态" field="state">
            </jxiaui-datagrid-item>
        </jxiaui-datagrid>
    </div>
</div>